* {
	font-family: "微软雅黑", Verdana, Geneva, sans-serif;
}
nav {
    background-color: #db7093;
    text-align: left;
    border-radius: 5px;
}
li.headerli{
    display: inline;
    list-style: none;
    /*margin: 3px;*/
}
a:link {
	text-decoration: none;
}